@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Manrope", sans-serif;
    box-sizing: border-box !important;
  }
  
  *{
    box-sizing: border-box !important;
  }
  .swiper-pagination-bullet{
    background-color: transparent !important;
    width: 12px !important;
    height: 12px !important;
    border: 3px solid rgba(255, 255, 255) ;
    opacity: 1;
    
  }
  .swiper-pagination-bullet-active {
    background-color: white !important; 
  }
  .swiper-pagination{
    right:10px  ;
    bottom: 20px !important;
    left: auto !important ;
    width: auto !important;  
    /* background-color: red; */
  }

  .swiper-slide img{
    width: 100%;
    object-fit: cover;
    }

    @media (max-width:767px) {
      .swiper-slide img{
        height: 50vh !important;
      }
    }